In [1]:
#  bob.refresh {"cron": "10 9,12,16,18,20,22 * * *", "timeout": 400000}

In [1]:
import bob
hc = bob.HealthCheck()
hc_key = "bfc41c24-d278-4bc8-8d95-767e5da44f59"
start = hc.start(hc_key)
print(start)

HealthCheck init in prod mode
Start ==> send to https://health.cashstory.com/ping/bfc41c24-d278-4bc8-8d95-767e5da44f59, 2020-04-07

In [2]:
%run __init__.ipynb

Successfully connected to MongoDB

In [3]:
#-- Transform yahoo finance data DB_ALL (VALUE, VAR, VARP)
db_all = bob.mongo.read_df('DB_ALL','yahoo').drop('_id', axis=1)
def get_all(df):
    domain = df.copy()
    domain = pd.DataFrame({
        'ENTITY': 'WORLDWIDE',
        'SCENARIO': pd.to_datetime(df['DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y'),
        'DATE_ORDER': domain['DATE_ORDER'],
        'LABEL': domain['LABEL'],
        'GROUPS': domain['GROUPS'],
        'TYPE': domain['TYPE'],
        'VALUE': domain['CLOSE'],
        'VAR': domain['VARV'],
        'VARP': domain['VARP'],
        'UNIT_VALUE': domain['UNIT'],
        'UNIT_VARP': ' %',
        'LAST_UPDATE': now
    })
    return domain.reset_index(drop=True)

In [4]:
#-- Economy Highlighted KPIS 
domain021 = get_all(db_all)
bob.mongo.save_df(domain021,'021',db_app,True)
domain021.to_csv(output_folder + '021.csv', sep=';')
domain021

Dataframe 021 successfully save in database app-wsr-dev in MongoDB. Time: --- 45.37747573852539 secnds ---

,ENTITY,SCENARIO,DATE_ORDER,LABEL,GROUPS,TYPE,VALUE,VAR,VARP,UNIT_VALUE,UNIT_VARP,LAST_UPDATE
0,WORLDWIDE,07/04/2020,20200407,NIKKEI,NIKKEI,INDICES,18950.179688,373.878907,2.012666,pts,%,07/04/2020 19:54:48
1,WORLDWIDE,06/04/2020,20200406,NIKKEI,NIKKEI,INDICES,18576.300781,756.111328,4.243004,pts,%,07/04/2020 19:54:48
2,WORLDWIDE,03/04/2020,20200403,NIKKEI,NIKKEI,INDICES,17820.189453,1.468750,0.008243,pts,%,07/04/2020 19:54:48
3,WORLDWIDE,02/04/2020,20200402,NIKKEI,NIKKEI,INDICES,17818.720703,-246.689453,-1.365535,pts,%,07/04/2020 19:54:48
4,WORLDWIDE,01/04/2020,20200401,NIKKEI,NIKKEI,INDICES,18065.410156,-851.599610,-4.501767,pts,%,07/04/2020 19:54:48
...,...,...,...,...,...,...,...,...,...,...,...,...
454068,WORLDWIDE,10/01/2006,20060110,"Hyundai Bng Steel Co., Ltd.",South Korea,EQUITIES,6200.000000,-130.000000,-2.053712,KRW,%,07/04/2020 19:54:48
454069,WORLDWIDE,09/01/2006,20060109,"Hyundai Bng Steel Co., Ltd.",South Korea,EQUITIES,6330.000000,-40.000000,-0.627943,KRW,%,07/04/2020 19:54:48
454070,WORLDWIDE,06/01/2006,20060106,"Hyundai Bng Steel Co., Ltd.",South Korea,EQUITIES,6370.000000,80.000000,1.271860,KRW,%,07/04/2020 19:54:48
454071,WORLDWIDE,05/01/2006,20060105,"Hyundai Bng Steel Co., Ltd.",South Korea,EQUITIES,6290.000000,200.000000,3.284072,KRW,%,07/04/2020 19:54:48
454072,WORLDWIDE,04/01/2006,20060104,"Hyundai Bng Steel Co., Ltd.",South Korea,EQUITIES,6090.000000,100.000000,1.669449,KRW,%,07/04/2020 19:54:48

In [6]:
#-- Transform yahoo finance data DB_TREND
db_trend = bob.mongo.read_df('DB_TREND','yahoo')
def get_trend(df, variable):
    domain = df.copy()[df['TYPE'] == variable]
    domain = pd.DataFrame({
        'ENTITY': 'WORLDWIDE',
        'DATE': domain['DATE'],
        'DATE_ORDER': domain['DATE_ORDER'],
        'GROUPS': domain['LABEL'],
        'BOTTOM_FILTER': domain['DATE_SCENARIO'],
        'UPPER_FILTER_M': domain['METRIC'],
        'VALUE': domain['VALUE'],
        'UNIT_VALUE': domain['UNIT'],
        'PRECISION': domain['PRECISION'],
        'OPEN': domain['OPEN'],
        'HIGH': domain['HIGH'],
        'LOW': domain['LOW'],
        'CLOSE': domain['CLOSE'],
        'VOLUME': domain['VOLUME'],
        'META1': domain['META1'],
        'META2': domain['META2'],
        'LAST_UPDATE': now
    })
    return domain.reset_index(drop=True)

In [7]:
#-- Economy - Indice
domain201 = get_trend(db_trend, 'INDICES')
domain201.to_csv(output_folder + '201.csv', sep=';')
bob.mongo.save_df(domain201,'201',db_app,True)

# domain201

Dataframe 201 successfully save in database app-wsr-dev in MongoDB. Time: --- 0.5885159969329834 secnds ---

,ENTITY,DATE,DATE_ORDER,GROUPS,BOTTOM_FILTER,UPPER_FILTER_M,VALUE,UNIT_VALUE,PRECISION,OPEN,HIGH,LOW,CLOSE,VOLUME,META1,META2,LAST_UPDATE
0,WORLDWIDE,2020-04-07,20200407,NIKKEI,Last 14 days,DAILY VARIATION (VALUE),373.878907,pts,"+,.2f",18878.859375,19162.519531,18553.140625,18950.179688,0.0,1h00 à 7h00,NaN,07/04/2020 19:23:32
1,WORLDWIDE,2020-04-07,20200407,NIKKEI,Last 30 days,DAILY VARIATION (VALUE),373.878907,pts,"+,.2f",18878.859375,19162.519531,18553.140625,18950.179688,0.0,1h00 à 7h00,NaN,07/04/2020 19:23:32
2,WORLDWIDE,2020-04-07,20200407,NIKKEI,Last 360 days,DAILY VARIATION (VALUE),373.878907,pts,"+,.2f",18878.859375,19162.519531,18553.140625,18950.179688,0.0,1h00 à 7h00,NaN,07/04/2020 19:23:32
3,WORLDWIDE,2020-04-07,20200407,NIKKEI,Last 14 days,DAILY VARIATION (%),2.012666,%,"+,.2f",18878.859375,19162.519531,18553.140625,18950.179688,0.0,1h00 à 7h00,NaN,07/04/2020 19:23:32
4,WORLDWIDE,2020-04-07,20200407,NIKKEI,Last 30 days,DAILY VARIATION (%),2.012666,%,"+,.2f",18878.859375,19162.519531,18553.140625,18950.179688,0.0,1h00 à 7h00,NaN,07/04/2020 19:23:32

In [9]:
#-- Economy - Currencies
domain202 = get_trend(db_trend, 'CURRENCIES')
domain202.to_csv(output_folder + '202.csv', sep=';')
bob.mongo.save_df(domain202,'202',db_app,True)

upper_filter_r202 = domain202[['GROUPS']].drop_duplicates().sort_values(by="GROUPS",ascending=True).reset_index(drop=True)
bob.mongo.save_df(upper_filter_r202,'202_UPPER_FILTER_R',db_app,True)

# domain202

Dataframe 202 successfully save in database app-wsr-dev in MongoDB. Time: --- 9.974839448928833 secnds ---
Dataframe 202_UPPER_FILTER_R successfully save in database app-wsr-dev in MongoDB. Time: --- 0.014041662216186523 secnds ---

,ENTITY,DATE,DATE_ORDER,GROUPS,BOTTOM_FILTER,UPPER_FILTER_M,VALUE,UNIT_VALUE,PRECISION,OPEN,HIGH,LOW,CLOSE,VOLUME,META1,META2,LAST_UPDATE
0,WORLDWIDE,2020-04-07,20200407,USD/SGD,Last 14 days,DAILY VARIATION (VALUE),-0.016950,,"+,.2f",1.43217,1.43257,1.4215,1.42225,0.0,NaN,NaN,07/04/2020 19:23:32
1,WORLDWIDE,2020-04-07,20200407,USD/SGD,Last 30 days,DAILY VARIATION (VALUE),-0.016950,,"+,.2f",1.43217,1.43257,1.4215,1.42225,0.0,NaN,NaN,07/04/2020 19:23:32
2,WORLDWIDE,2020-04-07,20200407,USD/SGD,Last 360 days,DAILY VARIATION (VALUE),-0.016950,,"+,.2f",1.43217,1.43257,1.4215,1.42225,0.0,NaN,NaN,07/04/2020 19:23:32
3,WORLDWIDE,2020-04-07,20200407,USD/SGD,Last 14 days,DAILY VARIATION (%),-1.177738,%,"+,.2f",1.43217,1.43257,1.4215,1.42225,0.0,NaN,NaN,07/04/2020 19:23:32
4,WORLDWIDE,2020-04-07,20200407,USD/SGD,Last 30 days,DAILY VARIATION (%),-1.177738,%,"+,.2f",1.43217,1.43257,1.4215,1.42225,0.0,NaN,NaN,07/04/2020 19:23:32

In [10]:
#-- Economy - Equities
domain203 = get_trend(db_trend, 'EQUITIES')
domain203.to_csv(output_folder + '203.csv', sep=';')
bob.mongo.save_df(domain203,'203',db_app,True)

upper_filter_r203 = domain203[['GROUPS']].drop_duplicates().sort_values(by="GROUPS",ascending=True).reset_index(drop=True)
bob.mongo.save_df(upper_filter_r203,'203_UPPER_FILTER_R',db_app,True)

# domain203

Dataframe 203 successfully save in database app-wsr-dev in MongoDB. Time: --- 24.021254777908325 secnds ---
Dataframe 203_UPPER_FILTER_R successfully save in database app-wsr-dev in MongoDB. Time: --- 0.021239519119262695 secnds ---

In [11]:
#-- Economy - Commodities
#Data source
domain204 = get_trend(db_trend, 'COMMODITIES')
domain204.to_csv(output_folder + '204.csv', sep=';')
bob.mongo.save_df(domain204,'204',db_app,True)

upper_filter_r204 = domain204[['GROUPS']].drop_duplicates().sort_values(by="GROUPS",ascending=True).reset_index(drop=True)
bob.mongo.save_df(upper_filter_r204,'204_UPPER_FILTER_R',db_app,True)

# domain204

Dataframe 204 successfully save in database app-wsr-dev in MongoDB. Time: --- 0.5641748905181885 secnds ---
Dataframe 204_UPPER_FILTER_R successfully save in database app-wsr-dev in MongoDB. Time: --- 0.01778554916381836 secnds ---

In [12]:
done = hc.done(hc_key)
print(done)

End ==> send to https://health.cashstory.com/ping/bfc41c24-d278-4bc8-8d95-767e5da44f59, 2020-04-07